@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<form id="account" method="post">
    <p>
        Please check your email to confirm your email.
    </p>
    <p>
        If you don't get Email Confirmation, please click the below link to resend email confirmation!
    </p>
    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
</form>