@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="form-LSR row justify-content-center">
    <div class="border border-1 shadow p-5 w-50">
        <form class="px-5" id="account" method="post">
            <div class="text-center">
                <h2 class="mb-4">@ViewData["Title"]</h2>
                <hr>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="text-center">
                    Please check your email to reset your password.
                </p>
                <a class="btn btn-info text-decoration-none text-light w-50 mt-3" asp-page="./ForgotPassword">
                    Resend Email
                </a>
            </div>
        </form>
    </div>
</div>
