@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<div class="form-LSR row justify-content-center">
    <div class="border border-1 shadow p-5 w-50">
        <div class="d-flex justify-content-center">
            <i class="fa-solid fa-envelope" style="font-size: 10rem;"></i>
        </div>
        <div class="text-center my-3">
            <h2 class="mb-4">@ViewData["Title"]</h2>
            <hr>
        </div>
        <div class="mb-3">
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>
                        Thank you for registering, please click the below link to confirm your account!
                    </p>
                    <div class="d-flex justify-content-center">
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </div>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                    <p>
                        If you don't get Email Confirmation, please click the below link to resend email confirmation!
                    </p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                }
            }
        </div>
    </div>
</div>
