@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="form-LSR row justify-content-center">
    <div class="border border-1 shadow p-5 w-50">
        <div class="text-center">
            <h2 class="mb-4">@ViewData["Title"]</h2>
            <hr>
            <h4 class="mb-2">Please Enter your Email!</h4>
        </div>
        <form class="px-5" method="post">
            <div class="mb-3">
                <label asp-for="Input.Email" class="h5 mb-2">Email</label>
                <input asp-for="Input.Email" class="form-control w-100 py-2" placeholder="  Enter Email">
                <i>*Please enter the email address you used to register your account</i>
                <br />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <hr>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-info w-50 fs-5 mb-2 py-2">Resend Email</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
