<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard - @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/Admin/css/Admin.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row header-bar sticky-top shadow">
            <div class="d-flex justify-content-between align-items-center">
                <a class="nav-link text-light fs-4" aria-current="page" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    Mobile Shop
                </a>

                <div class="dropdown">
                    <a class="btn text-white" role="button" id="header-bar" data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome "@User.Identity.Name" to Dashboard!
                    </a>

                    <ul class="dropdown-menu dropdown-menu-black shadow-sm p-3 rounded-0 mt-2" aria-labelledby="header-bar">
                        <li class="border-bottom border-2 px-5 text-center">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Shopping Page</a>
                        </li>
                        <li class="border-bottom border-2 px-5 text-center">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="dropdown-item btn btn-link">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row g-0 ">
            <div class="sidebar col-md-2 pt-1">
                <ul class="nav flex-column">
                    <li class="nav-item mt-2">
                        <a class="nav-link text-light hover-underline-animation"
                           asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house fs-5"></i>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light hover-underline-animation" data-bs-toggle="collapse"
                           href="#collapseOrder" role="button" aria-expanded="false"
                           aria-controls="collapseOrder">
                            <i class="fa-solid fa-file fs-5"></i>
                            Order Management
                        </a>
                        <div class="collapse" id="collapseOrder">
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="SalesOrders" asp-action="Index">
                                Sales Orders
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="PurchaseOrders" asp-action="Index">
                                Purchase Orders
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="Suppliers" asp-action="Index">
                                Suppliers
                            </a>
                            <br />
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light hover-underline-animation" data-bs-toggle="collapse"
                           href="#collapseProduct" role="button" aria-expanded="false"
                           aria-controls="collapseProduct">
                            <i class="fa-solid fa-list fs-5"></i>
                            Item Management
                        </a>
                        <div class="collapse" id="collapseProduct">
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="ItemCategories" asp-action="Index">
                                Item Categories
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="ItemGroups" asp-action="Index">
                                Item Groups
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="ItemImages" asp-action="Index">
                                Item Images
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="Items" asp-action="Index">
                                Items
                            </a>
                            <br />
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light hover-underline-animation" data-bs-toggle="collapse"
                           href="#collapseUI" role="button" aria-expanded="false"
                           aria-controls="collapseUI">
                            <i class="fa-solid fa-bell fs-5"></i>
                            UI Management
                        </a>
                        <div class="collapse" id="collapseUI">
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="Banners" asp-action="Index">
                                Banner
                            </a>
                            <br />
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light hover-underline-animation" data-bs-toggle="collapse"
                           href="#collapseUser" role="button" aria-expanded="false"
                           aria-controls="collapseUser">
                            <i class="fa-solid fa-user-group fs-5"></i>
                            User Management
                        </a>
                        <div class="collapse" id="collapseUser">
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="RoleManagers" asp-action="Index">
                                Roles
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="UserManagers" asp-action="Index">
                                Users
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="Reviews" asp-action="Index">
                                Reviews
                            </a>
                            <br />
                            <a class="nav-link text-light hover-underline-animation"
                               asp-area="Admin" asp-controller="ReplyReviews" asp-action="Index">
                                Reply Reviews
                            </a>
                            <br />
                        </div>
                    </li>
                </ul>
            </div>

            <div class="container-fluid bg-light">
                <div class="content p-4">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/lib/chart/dist/chart.js"></script>
    <script type="text/javascript" src="~/Admin/js/Admin.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

