@model MobileShop.Areas.Admin.Models.SalesOrder

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>Order Management / Sales Orders / Edit</h5>
</div>

<div class="row shadow rounded-0 m-3 py-3">
    <div class="col-md-12">
        <div class="d-flex justify-content-between border-bottom py-2 mb-3">
            <h5 class="text-secondary">Edit Confirmation</h5>
            <a class="managing text-decoration-none" asp-action="Index"><i class="fa-solid fa-arrow-rotate-left"></i> Back to List</a>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesOrderId" />
            <div class="form-group mb-2">
                <label asp-for="SalesOrderId" class="control-label"></label>
                <input asp-for="SalesOrderId" class="form-control" readonly="readonly" />
                <span asp-validation-for="SalesOrderId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly="readonly" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="readonly" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly="readonly" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly="readonly" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" readonly="readonly" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" readonly="readonly" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            @if (Model.Status == "To Pack")
            {
                <div class="form-group mb-2">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" value="Delivering" readonly="readonly" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
            @if (Model.Status == "Delivering")
            {
                <div class="form-group mb-2">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control text-success" value="Delivered" readonly="readonly" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
            <br>
            <div class="form-group d-flex justify-content-between">
                <input type="submit" value="Save" class="btn btn-info w-50 text-white me-5" />
            </div>
        </form>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable rounded-0 border-0 shadow-sm show-success-message">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}