USE [master]
GO
/****** Object:  Database [MobileShopContext]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE DATABASE [MobileShopContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileShopContext', FILENAME = N'C:\Users\lecuo\MobileShopContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobileShopContext_log', FILENAME = N'C:\Users\lecuo\MobileShopContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileShopContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileShopContext]
GO
USE [MobileShopContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemCategoryId] [int] NOT NULL,
	[ItemGroupId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[PromotionBannerId] [int] NULL,
	[Price] [decimal](15, 0) NOT NULL,
	[PromotionPercentage] [decimal](2, 1) NULL,
	[Quantity] [int] NOT NULL,
	[Image] [varchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCategory]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategory](
	[ItemCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ItemCategory] PRIMARY KEY CLUSTERED 
(
	[ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemGroup]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemGroup](
	[ItemGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ItemGroup] PRIMARY KEY CLUSTERED 
(
	[ItemGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemImage]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemImage](
	[ItemImageId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Images] [nvarchar](max) NULL,
 CONSTRAINT [PK_ItemImage] PRIMARY KEY CLUSTERED 
(
	[ItemImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionBanner]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionBanner](
	[PromotionBannerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[PromotionPercentageLimit] [decimal](2, 1) NOT NULL,
	[PromotionStartDate] [datetime2](7) NOT NULL,
	[PromotionEndDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PromotionBanner] PRIMARY KEY CLUSTERED 
(
	[PromotionBannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Total] [decimal](15, 0) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetail]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetail](
	[PurchaseOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImportPrice] [decimal](15, 0) NOT NULL,
 CONSTRAINT [PK_PurchaseOrderDetail] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyReview]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyReview](
	[ReplyReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserRole] [nvarchar](256) NULL,
	[Comment] [nvarchar](max) NULL,
	[ReplyDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReplyReview] PRIMARY KEY CLUSTERED 
(
	[ReplyReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[UserRole] [nvarchar](256) NULL,
	[ItemId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Rate] [int] NOT NULL,
	[CommentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[SalesOrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Total] [decimal](15, 0) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SalesOrder] PRIMARY KEY CLUSTERED 
(
	[SalesOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderDetail]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetail](
	[SalesOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SalesPrice] [decimal](15, 0) NOT NULL,
 CONSTRAINT [PK_SalesOrderDetail] PRIMARY KEY CLUSTERED 
(
	[SalesOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/28/2021 3:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'5.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211031024246_UpdateItemGroup', N'5.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211031025002_UpdateItemGroup31102021', N'5.0.11')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1', N'Admin', N'ADMIN', N'54dd2cc7-2e21-45f7-83d5-477740d5852e')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2', N'Staff', N'STAFF', N'54dd2cc7-2e21-45f7-83d5-477740d5853e')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3', N'Member', N'MEMBER', N'54dd2cc7-2e21-45f7-83d5-477740d5854e')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'33401181-ad89-47bd-a35c-392a52a33c2c', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'068ac672-3ab5-4840-a7ea-5da67b5721b1', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'91974785-9147-4e6e-8350-ba5fc24cd916', N'2')
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemCategory] ON 

INSERT [dbo].[ItemCategory] ([ItemCategoryId], [Name], [CreatedDate], [UpdatedDate]) VALUES (4, N'Mobile Phones', CAST(N'2021-11-04T14:31:00.0000000' AS DateTime2), CAST(N'2021-12-08T16:14:00.0000000' AS DateTime2))
INSERT [dbo].[ItemCategory] ([ItemCategoryId], [Name], [CreatedDate], [UpdatedDate]) VALUES (5, N'Phone Cases', CAST(N'2021-11-04T14:31:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ItemCategory] ([ItemCategoryId], [Name], [CreatedDate], [UpdatedDate]) VALUES (6, N'Earphones', CAST(N'2021-11-04T14:31:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ItemCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemGroup] ON 

INSERT [dbo].[ItemGroup] ([ItemGroupId], [Name], [CreatedDate], [UpdatedDate]) VALUES (5, N'Apple', CAST(N'2021-11-04T14:32:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ItemGroup] ([ItemGroupId], [Name], [CreatedDate], [UpdatedDate]) VALUES (6, N'Samsung', CAST(N'2021-11-04T14:32:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ItemGroup] ([ItemGroupId], [Name], [CreatedDate], [UpdatedDate]) VALUES (7, N'Xiaomi', CAST(N'2021-11-04T14:33:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ItemGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemImage] ON 

INSERT [dbo].[ItemImage] ([ItemImageId], [ItemId], [Images]) VALUES (1, 1, N'apple-iphone-12-white.jpg_773e98b7-7955-4d85-a611-9f5367a8af6b.jpg')
INSERT [dbo].[ItemImage] ([ItemImageId], [ItemId], [Images]) VALUES (2, 1, N'apple-iphone-12-view.jpg_be82b247-e2e7-448b-8450-bc0e4580e5b1.jpg')
INSERT [dbo].[ItemImage] ([ItemImageId], [ItemId], [Images]) VALUES (3, 1, N'apple-iphone-12-view2.jpg_5f48b765-13ea-44da-ac30-59d84e80d31b.jpg')
GO
SET IDENTITY_INSERT [dbo].[ItemImage] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionBanner] ON 

INSERT [dbo].[PromotionBanner] ([PromotionBannerId], [Name], [Image], [PromotionPercentageLimit], [PromotionStartDate], [PromotionEndDate], [CreatedDate], [UpdatedDate]) VALUES (1, N'Winter Sales 2021', N'winter-sale-banner.jpg_1e7cfbd3-3272-41bf-b2fc-2dec358768a7.jpg', CAST(0.5 AS Decimal(2, 1)), CAST(N'2021-12-27T11:11:00.0000000' AS DateTime2), CAST(N'2022-01-08T11:11:00.0000000' AS DateTime2), CAST(N'2021-12-27T11:12:39.3780000' AS DateTime2), CAST(N'2021-12-28T09:43:57.3367173' AS DateTime2))
INSERT [dbo].[PromotionBanner] ([PromotionBannerId], [Name], [Image], [PromotionPercentageLimit], [PromotionStartDate], [PromotionEndDate], [CreatedDate], [UpdatedDate]) VALUES (2, N'12/12/2021 Sale', N'12-12-sale-banner.jpg_2934adca-e470-4dbb-b14d-369ae31c9452.jpg', CAST(0.5 AS Decimal(2, 1)), CAST(N'2021-12-12T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-13T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-27T11:15:14.8654071' AS DateTime2), NULL)
INSERT [dbo].[PromotionBanner] ([PromotionBannerId], [Name], [Image], [PromotionPercentageLimit], [PromotionStartDate], [PromotionEndDate], [CreatedDate], [UpdatedDate]) VALUES (3, N'Black Friday', N'black-friday-sale-banner.jpg_c37ee457-1e7b-42d5-8062-1d37549333ce.jpg', CAST(0.4 AS Decimal(2, 1)), CAST(N'2021-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-31T12:59:00.0000000' AS DateTime2), CAST(N'2021-12-27T11:22:12.0560000' AS DateTime2), CAST(N'2021-12-27T11:26:16.8903940' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PromotionBanner] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([PurchaseOrderId], [SupplierId], [Total], [OrderDate], [Status]) VALUES (49, 1, CAST(15000000 AS Decimal(15, 0)), CAST(N'2021-12-07T09:31:29.0210000' AS DateTime2), N'Received')
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderId], [SupplierId], [Total], [OrderDate], [Status]) VALUES (61, 1, CAST(246667 AS Decimal(15, 0)), CAST(N'2021-12-23T19:23:24.2773303' AS DateTime2), N'Ordered')
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetail] ON 

INSERT [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId], [PurchaseOrderId], [ItemId], [Quantity], [ImportPrice]) VALUES (24, 49, 1, 7, CAST(14000000 AS Decimal(15, 0)))
INSERT [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId], [PurchaseOrderId], [ItemId], [Quantity], [ImportPrice]) VALUES (25, 49, 7, 1, CAST(23 AS Decimal(15, 0)))
INSERT [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId], [PurchaseOrderId], [ItemId], [Quantity], [ImportPrice]) VALUES (40, 61, 2, 2, CAST(123213 AS Decimal(15, 0)))
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ReplyReview] ON 

INSERT [dbo].[ReplyReview] ([ReplyReviewId], [ReviewId], [UserName], [UserRole], [Comment], [ReplyDate]) VALUES (1, 6, N'member4@gmail.com', N'Member', N'Thanks You', CAST(N'2021-12-01T08:54:37.2181609' AS DateTime2))
INSERT [dbo].[ReplyReview] ([ReplyReviewId], [ReviewId], [UserName], [UserRole], [Comment], [ReplyDate]) VALUES (2, 8, N'member5@gmail.com', N'Member', N'Thanks you', CAST(N'2021-12-06T19:13:52.8721637' AS DateTime2))
INSERT [dbo].[ReplyReview] ([ReplyReviewId], [ReviewId], [UserName], [UserRole], [Comment], [ReplyDate]) VALUES (3, 15, N'staff@mobileshop.com', N'Staff', N'Thanks you', CAST(N'2021-12-12T10:47:03.0331161' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReplyReview] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [UserName], [UserRole], [ItemId], [Comment], [Rate], [CommentDate]) VALUES (6, N'member4@gmail.com', N'Member', 1, N'Nice', 4, CAST(N'2021-12-01T08:54:24.8485227' AS DateTime2))
INSERT [dbo].[Review] ([ReviewId], [UserName], [UserRole], [ItemId], [Comment], [Rate], [CommentDate]) VALUES (7, N'member4@gmail.com', N'Member', 26, N'Nice', 4, CAST(N'2021-12-01T17:05:12.8850620' AS DateTime2))
INSERT [dbo].[Review] ([ReviewId], [UserName], [UserRole], [ItemId], [Comment], [Rate], [CommentDate]) VALUES (8, N'member5@gmail.com', N'Member', 95, N'Beautiful case', 4, CAST(N'2021-12-06T19:13:45.4776607' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrder] ON 

INSERT [dbo].[SalesOrder] ([SalesOrderId], [UserName], [Name], [PhoneNumber], [Address], [Total], [OrderDate], [Status]) VALUES (1, N'member5@gmail.com', N'Le Bao Cuong', N'0942511715', N'1771, 3/2 Street, Ninh Kieu District, Can Tho City', CAST(36990000 AS Decimal(15, 0)), CAST(N'2021-12-08T09:31:29.0210000' AS DateTime2), N'Cancelled')
INSERT [dbo].[SalesOrder] ([SalesOrderId], [UserName], [Name], [PhoneNumber], [Address], [Total], [OrderDate], [Status]) VALUES (2, N'member5@gmail.com', N'Le Bao Cuong', N'0942511715', N'1771, 3/2 Street, Ninh Kieu District, Can Tho City', CAST(41980000 AS Decimal(15, 0)), CAST(N'2021-12-08T09:36:08.9100000' AS DateTime2), N'Delivered')
INSERT [dbo].[SalesOrder] ([SalesOrderId], [UserName], [Name], [PhoneNumber], [Address], [Total], [OrderDate], [Status]) VALUES (3, N'member5@gmail.com', N'Le Bao Cuong', N'0942511715', N'1771, 3/2 Street, Ninh Kieu District, Can Tho City', CAST(43350000 AS Decimal(15, 0)), CAST(N'2021-12-10T10:21:26.8330000' AS DateTime2), N'Delivered')
SET IDENTITY_INSERT [dbo].[SalesOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] ON 

INSERT [dbo].[SalesOrderDetail] ([SalesOrderDetailId], [SalesOrderId], [ItemId], [Quantity], [SalesPrice]) VALUES (1, 1, 2, 1, CAST(36990000 AS Decimal(15, 0)))
INSERT [dbo].[SalesOrderDetail] ([SalesOrderDetailId], [SalesOrderId], [ItemId], [Quantity], [SalesPrice]) VALUES (2, 2, 1, 2, CAST(20990000 AS Decimal(15, 0)))
INSERT [dbo].[SalesOrderDetail] ([SalesOrderDetailId], [SalesOrderId], [ItemId], [Quantity], [SalesPrice]) VALUES (3, 3, 1, 1, CAST(20990000 AS Decimal(15, 0)))
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierId], [Name], [Address], [PhoneNumber], [CreatedDate], [UpdatedDate]) VALUES (1, N'Nguyen Van A Supplier', N'1375, 3/2 Street, Ninh Kieu District, Can Tho City', N'0123456798', CAST(N'2021-12-08T10:02:00.0000000' AS DateTime2), CAST(N'2021-12-26T15:33:36.7511012' AS DateTime2))
INSERT [dbo].[Supplier] ([SupplierId], [Name], [Address], [PhoneNumber], [CreatedDate], [UpdatedDate]) VALUES (2, N'Nguyen Van B Supplier', N'12 1A Street, Cai Rang District, Can Tho City', N'0123456123', CAST(N'2021-12-08T10:07:00.0000000' AS DateTime2), CAST(N'2021-12-26T15:34:14.2426944' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_ItemCategoryId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_ItemCategoryId] ON [dbo].[Item]
(
	[ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_ItemGroupId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_ItemGroupId] ON [dbo].[Item]
(
	[ItemGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_PromotionBannerId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Item_PromotionBannerId] ON [dbo].[Item]
(
	[PromotionBannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemImage_ItemId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemImage_ItemId] ON [dbo].[ItemImage]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrder_SupplierId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrder_SupplierId] ON [dbo].[PurchaseOrder]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrderDetail_ItemId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrderDetail_ItemId] ON [dbo].[PurchaseOrderDetail]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrderDetail_PurchaseOrderId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrderDetail_PurchaseOrderId] ON [dbo].[PurchaseOrderDetail]
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReplyReview_ReviewId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReplyReview_ReviewId] ON [dbo].[ReplyReview]
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_ItemId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_ItemId] ON [dbo].[Review]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderDetail_ItemId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderDetail_ItemId] ON [dbo].[SalesOrderDetail]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderDetail_SalesOrderId]    Script Date: 12/28/2021 3:51:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderDetail_SalesOrderId] ON [dbo].[SalesOrderDetail]
(
	[SalesOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DOB]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__Item__Price__2882FE7D]  DEFAULT ((0.0)) FOR [Price]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__Item__Quantity__297722B6]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ItemCategory] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[SalesOrderDetail] ADD  DEFAULT ((0.0)) FOR [SalesPrice]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemCategory_ItemCategoryId] FOREIGN KEY([ItemCategoryId])
REFERENCES [dbo].[ItemCategory] ([ItemCategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemCategory_ItemCategoryId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemGroup_ItemGroupId] FOREIGN KEY([ItemGroupId])
REFERENCES [dbo].[ItemGroup] ([ItemGroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemGroup_ItemGroupId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_PromotionBanner_PromotionBannerId] FOREIGN KEY([PromotionBannerId])
REFERENCES [dbo].[PromotionBanner] ([PromotionBannerId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_PromotionBanner_PromotionBannerId]
GO
ALTER TABLE [dbo].[ItemImage]  WITH CHECK ADD  CONSTRAINT [FK_ItemImage_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemImage] CHECK CONSTRAINT [FK_ItemImage_Item_ItemId]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Supplier_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Supplier_SupplierId]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetail_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] CHECK CONSTRAINT [FK_PurchaseOrderDetail_Item_ItemId]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetail_PurchaseOrder_PurchaseOrderId] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] CHECK CONSTRAINT [FK_PurchaseOrderDetail_PurchaseOrder_PurchaseOrderId]
GO
ALTER TABLE [dbo].[ReplyReview]  WITH CHECK ADD  CONSTRAINT [FK_ReplyReview_Review_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Review] ([ReviewId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReplyReview] CHECK CONSTRAINT [FK_ReplyReview_Review_ReviewId]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Item_ItemId]
GO
ALTER TABLE [dbo].[SalesOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderDetail_Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesOrderDetail] CHECK CONSTRAINT [FK_SalesOrderDetail_Item_ItemId]
GO
ALTER TABLE [dbo].[SalesOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderDetail_SalesOrder_SalesOrderId] FOREIGN KEY([SalesOrderId])
REFERENCES [dbo].[SalesOrder] ([SalesOrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesOrderDetail] CHECK CONSTRAINT [FK_SalesOrderDetail_SalesOrder_SalesOrderId]
GO
USE [master]
GO
