
@{
    ViewData["Title"] = "CheckoutFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="d-flex justify-content-center text-secondary">Sorry, Something went wrong! :(</h4>

<div class="row d-flex justify-content-center">
    <a class="btn btn-info col-2 text-decoration-none text-light" asp-area="" asp-controller="Home" asp-action="Index">
        <span>
            Continue Shopping <i class="fa-solid fa-cart-arrow-down"></i>
        </span>
    </a>
</div>

