
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="d-flex justify-content-center text-secondary">Checkout success</h4>

<div class="row d-flex justify-content-center">
    <a class="btn btn-outline-info col-2 text-decoration-none me-3" asp-area="" asp-controller="Orders" asp-action="Index">
        <span>
            Check Order
        </span>
    </a>
    <a class="btn btn-info col-2 text-decoration-none text-light" asp-area="" asp-controller="Home" asp-action="Index">
        <span>
            Go Shopping <i class="fa-solid fa-cart-arrow-down"></i>
        </span>
    </a>
</div>

