
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="border border-1 shadow w-75 m-5 p-5">
        <h4 class="text-success d-flex justify-content-center mb-5">Payment Successfully</h4>
        <i class="fa-solid fa-circle-check text-success d-flex justify-content-center mb-5" style="font-size: 10rem;"></i>
        <div class="row d-flex justify-content-center my-2">
            <a class="btn btn-outline-info text-decoration-none w-25 me-3" asp-area="" asp-controller="SalesOrders" asp-action="Index">
                Check Order
            </a>
            <a class="btn btn-info text-decoration-none text-light w-25" asp-area="" asp-controller="Home" asp-action="Index">
                Continue Shopping <i class="fa-solid fa-cart-arrow-down"></i>
            </a>
        </div>
    </div>
</div>