
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center border-bottom m-0 p-0 mb-2">
    <h4>Overview</h4>
    <div class="btn-toolbar">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <i class="fa-solid fa-calendar-days"></i>
            Tháng 12
        </button>
    </div>
</div>

<p>Doanh thu tháng 12/2021: 30.000.000 ₫</p>
<canvas class="my-4 w-100" id="EachMonthRevenueChart" width="900" height="380"></canvas>

<p>Doanh thu năm 2021: 130.000.000 ₫</p>
<canvas class="my-4 w-100" id="EachYearRevenueChart" width="900" height="380"></canvas>

