
@{
    ViewData["Title"] = "ProductDetailTable";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="content">
    <div class="row px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Sản phẩm</h2>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="mobiles-tab" data-bs-toggle="tab" data-bs-target="#mobiles-home" type="button"
                        role="tab" aria-controls="mobiles-home" aria-selected="true">
                    Điện thoại
                </button>
                <button class="nav-link" id="phone-cc-tab" data-bs-toggle="tab" data-bs-target="#phone-cc-home" type="button"
                        role="tab" aria-controls="phone-cc-home" aria-selected="false">
                    Ốp lưng & bao da
                </button>
                <button class="nav-link" id="earphones-tab" data-bs-toggle="tab" data-bs-target="#earphones-home" type="button"
                        role="tab" aria-controls="earphones-home" aria-selected="false">
                    Tai nghe
                </button>
                <button class="nav-link" id="old-mobiles-tab" data-bs-toggle="tab" data-bs-target="#old-mobiles-home" type="button"
                        role="tab" aria-controls="old-mobiles-home" aria-selected="false">
                    Điện thoại cũ
                </button>
            </div>
        </nav>
        <div class="tab-content" style="display: block; overflow-x: auto; white-space: nowrap; width: 78rem;">
            <div class="tab-pane fade show active" id="mobiles-home" role="tabpanel" aria-labelledby="mobiles-tab">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Màn hình</th>
                            <th scope="col">Hệ điều hành</th>
                            <th scope="col">Camera trước</th>
                            <th scope="col">Camera sau</th>
                            <th scope="col">CPU</th>
                            <th scope="col">GPU</th>
                            <th scope="col">RAM</th>
                            <th scope="col">Bộ nhớ trong</th>
                            <th scope="col">SIM</th>
                            <th scope="col">Pin</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Ngày chỉnh sửa</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,014</td>
                            <td>Điện thoại</td>
                            <td>IPhone 12</td>
                            <td>5.4", Super Retina XDR, OLED, 1080 x 2340 Pixel</td>
                            <td>iOS 14</td>
                            <td>12.0 MP</td>
                            <td>12.0 MP + 12.0 MP</td>
                            <td>A14 Bionic</td>
                            <td>Apple GPU 4 nhân</td>
                            <td>4 GB</td>
                            <td>64 GB</td>
                            <td>2, 1 eSIM, 1 Nano SIM</td>
                            <td>2227 mAh</td>
                            <td>20/12/2021</td>
                            <td>20/12/2021</td>
                            <td><a asp-area="Admin" asp-controller="Home" asp-action="ProductCategoryTable">Sửa</a></td>
                            <td><a asp-area="Admin" asp-controller="Home" asp-action="ProductCategoryTable">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>random</td>
                            <td>tabular</td>
                            <td>information</td>
                            <td>text</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="phone-cc-home" role="tabpanel" aria-labelledby="phone-cc-tab">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Ốp lưng</th>
                            <th scope="col">Loại ốp lưng</th>
                            <th scope="col">Chất liệu</th>
                            <th scope="col">Tương thích</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Ngày chỉnh sửa</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,014</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>random</td>
                            <td>tabular</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="earphones-home" role="tabpanel" aria-labelledby="earphones-tab">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Tai nghe</th>
                            <th scope="col">Tương thích</th>
                            <th scope="col">Kết nối</th>
                            <th scope="col">Loại tai nghe</th>
                            <th scope="col">Pin</th>
                            <th scope="col">Hãng</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Ngày chỉnh sửa</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,014</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>random</td>
                            <td>tabular</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="old-mobiles-home" role="tabpanel" aria-labelledby="old-mobiles-tab">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Ngày chỉnh sửa</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,014</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                            <td>rich</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>random</td>
                            <td>tabular</td>
                            <td>information</td>
                            <td>text</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
