@model MobileShop.Areas.Admin.Models.PromotionBanner

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>UI Management / Banners / Create</h5>
</div>

<div class="shadow rounded-0">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between border-bottom py-2 mb-3">
                <h5 class="text-secondary">New Banner</h5>
                <a class="managing text-decoration-none" asp-action="Index"><i class="fa-solid fa-arrow-rotate-left"></i> Back to List</a>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" id="image-input" accept="lib/images/banners/*" />
                    <div id="imagePreview"></div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PromotionPercentageLimit" class="control-label"></label>
                    <input asp-for="PromotionPercentageLimit" class="form-control" />
                    <span asp-validation-for="PromotionPercentageLimit" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PromotionStartDate" class="control-label"></label>
                    <input asp-for="PromotionStartDate" class="form-control" />
                    <span asp-validation-for="PromotionStartDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PromotionEndDate" class="control-label"></label>
                    <input asp-for="PromotionEndDate" class="form-control" />
                    <span asp-validation-for="PromotionEndDate" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group mb-2 d-flex justify-content-between">
                    <input type="submit" value="Create" class="btn btn-info w-50 text-white me-5" />
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable rounded-0 border-0 shadow-sm show-success-message">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}