@model MobileShop.Areas.Admin.Models.Stock

@{
    ViewData["Title"] = "Create Stocks";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>Item Management / Stocks / Create</h5>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="MobilePhoneId" class="control-label"></label>
                <select asp-for="MobilePhoneId" class="form-control" asp-items="ViewBag.MobilePhoneId"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ItemColorId" class="control-label"></label>
                <select asp-for="ItemColorId" class="form-control" asp-items="ViewBag.ItemColorId"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group mb-2 d-flex justify-content-between">
                <input type="submit" value="Create" class="btn btn-info w-50 text-white me-5" />
                <a class="btn btn-secondary w-50 text-white" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>