@model MobileShop.Areas.Admin.Models.Item

@using Microsoft.AspNetCore.Identity
@using MobileShop.Areas.Identity.Data
@inject SignInManager<MobileShopUser> SignInManager
@inject UserManager<MobileShopUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/shared/_layout.cshtml";
}

<div class="border-bottom m-0 p-0 mb-2">
    <h5>Item Management / Items / Details</h5>
</div>

<div class="shadow rounded-0">
    <div class="row">
        <div class="d-flex justify-content-between border-bottom py-2 mb-3">
            <h5 class="text-secondary">Item Information</h5>
            @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Admin")))
            {
                <div>
                    <a class="managing text-decoration-none" asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
                    <a class="managing text-decoration-none" asp-action="Index">Back to List</a>
                </div>
            }
            @if (SignInManager.IsSignedIn(User) && (Context.User.IsInRole("Staff")))
            {
                <div>
                    <a class="managing text-decoration-none" asp-action="Index">Back to List</a>
                </div>
            }
        </div>
    </div>
    <div class="row editor-form">
        @Html.Raw(Model.Detail)
    </div>
    <div class="row">
        <h5 class="text-secondary fw-bold">Sub-Images</h5>
        @foreach (var image in Model.ItemImage)
        {
            <img class="py-2" style="width: 15rem;"
                 src="@("~/lib/images/" + image.Images)" asp-append-version="true" />
        }
    </div>
</div>
