<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mobile Shop</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/lib/jquery/jquery.rateyo.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/Main/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-214425919-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-214425919-1');
    </script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow-sm mb-3 bg-body rounded">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MobileShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MobilePhones" asp-action="Index">Mobiles</a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn" role="button" id="accessories-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Accessories
                                </a>
                                <ul class="dropdown-menu dropdown-menu-white shadow-sm p-3 rounded-0" style="margin-left: 0.95rem; margin-top: 1rem;" aria-labelledby="accessories-dropdown">
                                    <li class="border-bottom border-2 px-5 text-center">
                                        <a class="dropdown-item" asp-area="" asp-controller="Earphones" asp-action="Index" title="Earphones">Earphones</a>
                                    </li>
                                    <li class="border-bottom border-2 px-5 text-center">
                                        <a class="dropdown-item" asp-area="" asp-controller="PhoneCases" asp-action="Index" title="Phone Cases">Phone Cases</a>
                                    </li>
                                    <li class="border-bottom border-2 px-5 text-center">
                                        <a class="dropdown-item" asp-area="" asp-controller="BackupChargers" asp-action="Index" title="Backup Chargers">Backup Chargers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#SearchBox">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="modal fade" id="SearchBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">We will help you to find something!</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Home" asp-action="Filter" method="get">
                        <div class="input-group justify-content-center">
                            <input class="search-field border-0 w-75" type="text" placeholder="  Filtering ..."
                                   name="SearchString" />
                            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start" style="background-color: rgb(230, 230, 230);">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">About Us</h6>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">About Mobileshop</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Support Customer</h6>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">Your Account</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">Your Orders</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">Mobileshop Assistant</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary text-decoration-none">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Payment Methods</h6>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img class="mx-1" style="width: 2rem;" src="~/lib/images/Partner/paypal.png" alt="Paypal">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase">Delivery Services</h6>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Mobileshop</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center bg-light p-3">
            © Mobileshop 2021
        </div>
    </footer>

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery.rateyo.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Main/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
